
{% extends '::base.html.twig'  %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="span12">
            {{ question.translation }}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {{ question.sentence }}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {{ inputData }}
        </div>
    </div>


    <form action="{{ path('question') }}" method="post" novalidate name="form">
        <input type="hidden" id="hiddenid" name="id" value="" />
        <div class="row">
            <div class="span12">
                <button type="button" class="btn" onclick="onRetryClick()" value="Previous" >Retry</button>
                {% if nextid %}
                    <button type="button" class="btn btn-primary" onclick="onNextClick()" value="Previous" >Next</button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <a href="{{ path('select') }}">select</a>
            </div>
        </div>
    </form>
</div>
    <script type="text/javascript">
            function onRetryClick(){
                var selectObject = document.getElementById('hiddenid');
                selectObject.value = {{ previousid }};
                document.form.submit();
            }
            function onNextClick(){
                var selectObject = document.getElementById('hiddenid');
                selectObject.value = {{ nextid }};
                document.form.submit();
            }
    </script>
{% endblock %}
